body{
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}
#mainblock{
	vertical-align: middle;
}
.over{
	position:absolute;
    top: 0px;
    left: 0px;
}
/*#container{
	position: absolute;
	margin-top:20%;
	margin-left: 25%;
}*/
#down{

	position: absolute;
	margin-top: 40%;
	margin-left: 50%
}
#login{
	
	background:rgba(255,255,255,0.1);

	font-family:montserrat;
}
#login:hover{
	background:rgba(255,255,255,1);
	color:#2c3e50;
}
#container{

}
#arrow{
	opacity:0.3;
    
    -webkit-animation-duration: 3.5s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;

}
#discover{
	font-family: 'Clear Sans';
}
.button{
	width:80%;
	padding:10px 1px;

	/*padding-top:6px;
	padding-bottom: 6px;
	padding-right:1px;
	padding-left: 1px;*/
}
.baseline{vertical-align:baseline;} 
.textmiddle {vertical-align:middle;} 
.textbottom {vertical-align:bottom;} 